.loading {
  position: relative;
  height: 100%;

  mat-spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.chat-container {
  width: 60%;
  margin: 0 auto;
  height: 100vh;
}

.messages-container {
  height: 80%;
  overflow: overlay;
}

.prompt-container {
  height: 20%;
  overflow: overlay;

  mat-form-field {
    width: 90%;
  }

  button {
    width: 10%;
  }
}
