.chat-container {
  width: 60%;
  margin: 0 auto;
  height: 100vh;
}

.messages-container {
  height: 80%;
  overflow: overlay;
}

.prompt-container {
  height: 20%;
  overflow: overlay;
}

.input {
  width: 90%;
}

.send-stop {
  width: 10%;
}
