<div class="chat-container">
  @if (!isInitialized) {
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <div class="messages-container">
      @for (message of history; track message.id) {
        <app-chat-message [message]="message"></app-chat-message>
      }

      @if (generatedAnswer) {
        <app-chat-message [message]="generatedAnswer" [hideButtons]="isSending"></app-chat-message>
      }
    </div>
    <div class="prompt-container">
      <mat-form-field class="input">
    <textarea
      matInput
      cdkTextareaAutosize
      placeholder="Zapytaj o cokolwiek"
      [(ngModel)]="prompt">
    </textarea>
      </mat-form-field>
      @if (!isSending) {
        <button matIconButton class="send-stop" (click)="send()">
          <mat-icon>arrow_upward</mat-icon>
        </button>
      }
      @if (isSending) {
        <button matIconButton class="send-stop" (click)="cancel()">
          <mat-icon>stop_circle</mat-icon>
        </button>
      }
    </div>
  }
</div>
