.message {
  display: inline-block;
  width: 100%;

  > div {
    padding: 1rem 0.5rem;
  }
}

.example-card {
  max-width: 70%;

  p {
    margin: 0;
    padding: 0.2rem 0;
  }
}

.prompt {
  float: right;
  background-color: darkgray;
}

.liked {
  color: cornflowerblue;
}

.disliked {
  color: crimson;
}
