<div class="messages-container" #messagesContainer>
  @for (message of history(); track message.id) {
    <app-chat-message [message]="message"></app-chat-message>
  }

  @if (generatedAnswer) {
    <app-chat-message
      [message]="generatedAnswer"
      [hideButtons]="isAnswerReceiving"
    ></app-chat-message>
  }
</div>

<div class="prompt-container">
  <mat-form-field>
      <textarea
        matInput
        cdkTextareaAutosize
        placeholder="Zapytaj o cokolwiek"
        [(ngModel)]="prompt"
      >
      </textarea>
  </mat-form-field>

  @if (!isAnswerReceiving) {
    <button matIconButton (click)="send()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  }

  @if (isAnswerReceiving) {
    <button matIconButton (click)="cancel()">
      <mat-icon>stop_circle</mat-icon>
    </button>
  }
</div>
