.example-card {
  max-width: 70%;

  p {
    margin: 0;
  }
}

.liked {
  color: cornflowerblue;
}

.disliked {
  color: crimson;
}

.input {
  width: 90%;
}

.send-stop {
  width: 10%;
}

.user-prompt {
  float: right;
}

.message {
  display: inline-block;
  width: 100%;
}
