<div>
  @for (msg of history; track msg.id) {
    <div class="message">
      <mat-card class="example-card" appearance="outlined" [class.user-prompt]="msg.isUser">
        <mat-card-content>
          <p>
            {{ msg.text }}
          </p>
        </mat-card-content>
        @if (!msg.isUser) {
          <mat-card-actions>
            <button matIconButton (click)="toggleLike(msg)">
              <mat-icon [class.liked]="msg.isLiked">thumb_up</mat-icon>
            </button>
            <button matIconButton (click)="toggleDislike(msg)">
              <mat-icon [class.disliked]="msg.isLiked === false">thumb_down</mat-icon>
            </button>
          </mat-card-actions>
        }
      </mat-card>
    </div>
  }
</div>
<div>
  <mat-form-field class="input">
    <textarea matInput cdkTextareaAutosize placeholder="Zapytaj o cokolwiek" [(ngModel)]="prompt"></textarea>
  </mat-form-field>
  @if (!isSending) {
    <button matIconButton class="send-stop" (click)="send()">
      <mat-icon [class.liked]="isLiked">arrow_upward</mat-icon>
    </button>
  }
  @if (isSending) {
    <button matIconButton class="send-stop" (click)="cancel()">
      <mat-icon [class.liked]="isLiked">stop_circle</mat-icon>
    </button>
  }
</div>
